.navbar-custom{
    background-color:#E0DEDE;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
}
.container-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  width: auto;
}


.right-section {
  display: flex;
  align-items: center;
  gap: 50px; 
}


.search-container {
  position: relative;
  display: flex;
  align-items: center;
  
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  pointer-events: none; 
}

.search-input {
  width:280px;
  padding: 8px 8px 8px 32px; 
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
}



.icon-img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.cart{
  opacity:.8;
  transition: opacity 0.2s;
}
